<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Khách Sạn Omni</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Content/modern-business.css" rel="stylesheet">
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-warning fixed-top">
        <div class="container">
            <a class="navbar-brand" href="index.html">Khách sạn Omni</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                 
                    <li class="nav-item">
                        <a class="nav-link" href="~/DatPhong/DatPhong">Đặt phòng</a>
                    </li>
                   
                    <li class="nav-item">
                        <a class="nav-link" href="~/NhaHang/Index">Nhà hàng &amp; Bar</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>
    <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->
                <div class="carousel-item active" style="background-image: url(../Images/BG1-resizeimage.jpg)">
                    <div class="carousel-caption d-none d-md-block">
                     
                    </div>
                </div>
                <!-- Slide Two - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url(../Images/BG2.jpg)">
                    <div class="carousel-caption d-none d-md-block">
                        
                    </div>
                </div>
                <!-- Slide Three - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('../Images/BG3.jpg')">
                    <div class="carousel-caption d-none d-md-block">
                      
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>
    <!-- Page Content -->
    <div class="container">
        <h1 class="my-4">Dịch vụ</h1>
        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <h4 class="card-header bg-success text-light">Spa</h4>
                    <div class="card-body">
                     
                        <p class="card-text">Đến với Spa tại Khách Sạn Omni với nhiều loại hình Spa như :</p>
                        <ul>
                            <li>
                                Massage thư giãn – làm đẹp
                            </li>
                            <li>Giảm béo – giảm cân</li>
                            <li>Tắm trắng – hấp trắng</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <h4 class="card-header bg-primary text-light">Giá : 500.000 VNĐ</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <h4 class="card-header bg-success text-light">Xông hơi</h4>
                    <div class="card-body">
                        <p class="card-text">Dịch vụ xông hơi tinh dầu + massage đá nóng tại Khách Sạn Omni sẽ giúp bạn xua tan những mệt mỏi, căng thẳng, hồi phục lại năng lượng để chuẩn bị cho công việc sắp tới.</p>
                    </div>
                    <div class="card-footer">
                        <h4 class="card-header bg-primary text-light">Giá : 200.000 VNĐ</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <h4 class="card-header bg-success text-light">Tennis</h4>
                    <div class="card-body">
                        <p class="card-text">Đến với Khách Sạn Omni, quý khách cũng có thể chơi Tennis ngay trong khu biệt thự và khách sạn với 1 chương trình tập luyện toàn thân.</p>
                    </div>
                    <div class="card-footer">
                        <h4 class="card-header bg-primary text-light">Giá : 100.000 VNĐ</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <!-- Portfolio Section -->
        <h2>Phòng</h2>
        <div class="row">
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                   <img class="card-img-top" src="../Images/SingleR.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title text-success">
                            Phòng thường
                        </h4>
                        <ul class="card-text">
                            <li>1 Giường đơn</li>
                            <li>1 Phòng tắm</li>
                            <li>Phù hợp với 1 người</li>
                            <li>*Không bao gồm giá dịch vụ và nhà hàng*</li>
                        </ul>
                        <h4 class="card-header bg-primary text-light">Giá : 2.000.000 VNĐ</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <img class="card-img-top" src="../Images/DoubleR.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title text-success">
                          Phòng đôi
                        </h4>
                        <ul class="card-text">
                            <li>1 Giường đôi</li>
                            <li>1 Phòng tắm</li>
                            <li>Phù hợp với 2 người</li>
                            <li>*Không bao gồm giá dịch vụ và nhà hàng*</li>
                        </ul>
                        <h4 class="card-header bg-primary text-light">Giá : 4.000.000 VNĐ</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <img class="card-img-top" src="../Images/FamilyR.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title text-success">
                           Phòng gia đình
                        </h4>
                        <ul class="card-text">
                            <li>2 Giường đôi</li>
                            <li>2 Phòng tắm</li>
                            <li>Phù hợp với gia đình 4 người</li>
                            <li>*Không bao gồm giá dịch vụ và nhà hàng*</li>
                        </ul>
                        <h4 class="card-header bg-primary text-light">Giá : 5.000.000 VNĐ</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <img class="card-img-top" src="../Images/HighClassR.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title text-success">
                           Phòng cao cấp
                        </h4>
                        <ul class="card-text">
                            <li>2 Giường đôi</li>
                            <li>2 Phòng tắm</li>
                            <li>Nằm trên cao có ban công hướng ra biển</li>
                            <li>Phù hợp với 2 người hoặc gia đình 4 người</li>
                            <li>*Không bao gồm giá dịch vụ và nhà hàng*</li>
                        </ul>
                        <h4 class="card-header bg-primary text-light">Giá : 4.500.000 VNĐ</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                   <img class="card-img-top" src="../Images/RoyalR.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title text-success">
                           Phòng hoàng gia
                        </h4>
                        <ul class="card-text">
                            <li>2 Giường đôi</li>
                            <li>2 Phòng tắm</li>
                            <li>Nằm trên cao có ban công hướng ra biển</li>
                            <li>Có phòng khách rộng lớn</li>
                            <li>Phù hợp với 2 người hoặc gia đình 4 người</li>
                            <li>*Không bao gồm giá dịch vụ và nhà hàng*</li>
                        </ul>
                        <h4 class="card-header bg-primary text-light">Giá : 10.000.000 VNĐ</h4>
                    </div>
                </div>
            </div>
         
        </div>
        <!-- /.row -->
        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-6">
                <h2>Nhà hàng &amp; Bar</h2>
                <p>Bao gồm :</p>
                <ul>
                    <li>
                     Đa dạng món ăn được cập nhật hằng tháng
                    </li>
                    <li>Bar rộng lớn</li>
                    <li>Đội ngũ nhân viên chuyên nghiệp</li>
                    <li>Đầu bếp với kinh nghiệm lâu năm</li>
                    <li>Với 40 bàn được trang trí sang trọng</li>
                </ul>
                
            </div>
            <div class="col-lg-6">
                <img class="img-fluid rounded" src="../Images/Res.jpg" alt="">
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Call to Action Section -->
        
    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-warning">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Khách sạn Omni</p>
        </div>
        <!-- /.container -->
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>



    <div>
        @RenderBody()
    </div>
</body>
</html>
