
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMainEmty.cshtml";
}

<div class="card h-100">
    <h4 class="card-header bg-success text-light">Nhà Hàng </h4>
    <div class="card-body">

        <p class="card-text">
            Nhà hàng mang thiết kế mới mẻ, không gian Châu Âu sang trọng, hiện đại. Nhà hàng có 40 bàn với gốc anh đào sống động. Quý khách sẽ vô cùng vui thích khi đặt bàn ngoài trời thưởng thức bữa tối & ngắm vẻ đẹp huyền ảo bờ biển nhà hát lớn từ trên tầng 13 & 15 của nhà hàng.
        </p>
        <div class="carousel-item active" style="background-image: url(../Images/res11.jpg)">
            <div class="carousel-caption d-none d-md-block">

            </div>
        </div>
        <br />
        <p class="card-text">
            Quý khách có những ý tưởng tiệc BBQ hay những bàn tiệc kỷ niệm lung linh ánh nến ngoài trời thì Nhà hàng Omni là lựa chọn hàng đầu, mang đến cho quý khách 1 không gian tiệc hoàn mỹ, kết hợp với thực đơn mỹ thực dưỡng sinh –làm nên thương hiệu của Nhà hàng Omni từ năm 2003 đến nay. Thực đơn tại đây bổ sung thêm nhiều món mới, phong phú về chủng loại & cách chế biến từ Bếp trưởng nổi tiếng từ Hong Kong với bề dày kinh nghiệm 20 năm.
        </p>
        
        <div class="carousel-item active" style="background-image: url(../Images/res2.jpg)">
            <div class="carousel-caption d-none d-md-block">

            </div>
        </div>
        <br />
        <p class="card-text">
            Bên cạnh đó, nhà hàng có đội ngũ nhân viên trẻ, nhanh nhẹn, chu đáo & chuyên nghiệp, luôn chú trọng tới chất lượng dịch vụ cũng như các yêu cầu tiệc theo chủ đề của quý khách. Vào cuối tuần nhà hàng có chương trình biểu diễn đàn piano du dương, nhạc công có thể chơi nhạc theo yêu cầu của quý khách.
        </p>
        <div class="carousel-item active" style="background-image: url(../Images/res3.jpg)">
            <div class="carousel-caption d-none d-md-block">

            </div>
        </div>

    </div>
    
</div>

<div class="card h-100">
    <h4 class="card-header bg-success text-light">Bar</h4>
    <div class="card-body">

        <p class="card-text">
            Đây là nơi hội tụ của phong cách, gu thẩm mỹ, thời trang và ẩm thực sành điệu,là nơi gặp gỡ giao lưu của các đối tác, bạn bè quốc tế và điểm đến lý tưởng cho những ai muốn trải nghiệm những đêm tiệc bất tận, những khoảnh khắc ẩm thực đỉnh cao, tận hưởng không khí mát mẻ và vẻ đẹp lung linh huyền ảo của bãi biển về đêm
        </p>
        <div class="carousel-item active" style="background-image: url(../Images/bar1.jpg)">
            <div class="carousel-caption d-none d-md-block">

            </div>
        </div>
        <br />
        <p class="card-text">
           Omni Bar còn khẳng định đẳng cấp về ẩm thực và dịch vụ chăm sóc khách hàng khi mang đến cho các thực khách những món ăn thời thượng do đầu bếp quốc tế 5 sao đến từ Dubai đảm nhiệm và những ly cocktail đẳng cấp quốc tế do các bartender World Class pha chế… Bên cạnh đó là phong cách âm nhạc đa dạng, từ Chill-out, R&B tinh tế và lôi cuốn đến Sexy house, Hip-hop quyến rũ và cuồng nhiệt
        </p>
        <div class="carousel-item active" style="background-image: url(../Images/bar2.jpg)">
            <div class="carousel-caption d-none d-md-block">

            </div>
        </div>
    </div>
    
</div>

